@{
    ViewBag.Title = "Home Page";
}
<div id="indexPage" style="width: 100%; display: inline-block;">
    <div style="float: left; width: 50%; display: inline-block;">
        <div>
            <h2>
               One Level Grid Sample</h2>
            <p>
                <a href="/Grid/OneLevel" id="" class="button">One Level Grid</a>
            </p>
        </div>
        <div>
            <h2>
                Two Level Grid Sample</h2>
            <p>
                <a href="/Grid/TwoLevel" id="" class="button">Two Level Grid</a>
            </p>
        </div>
        <div>
            <h2>
                Three Level Grid Sample</h2>
            <p>
                <a href="/Grid/ThreeLevel" id="" class="button">Three Level Grid</a>
            </p>
        </div>
        <div>
            <h2>
                Server Side Page, Sort, Filter Sample</h2>
            <p>
                <a href="/Grid/ServerPageSortFilter" id="" class="button">Server Side Page, Sort, Filter</a>
            </p>
        </div>
    </div>
    <div style="float: right; width: 50%; display: inline-block;">
        <div>
            <h2>
                vCard Export Sample</h2>
            <p>
                <a href="/Grid/VCardExport" id="" class="button">vCard Export</a>
            </p>
        </div>
        <div>
            <h2>
                Sample</h2>
            <p>
                <a href="#" id="" class="button">Click</a>
            </p>
        </div>
        <div>
            <h2>
                Sample</h2>
            <p>
                <a href="#" id="" class="button">Click</a>
            </p>
        </div>
        <div>
            <h2>
                Sample</h2>
            <p>
                <a href="#" id="" class="button">Click</a>
            </p>
        </div>
    </div>
</div>

