@{
    ViewBag.Title = "Home Page";
}
<div id="indexPage" style="width: 100%; display: inline-block;">
    <div style="float: left; width: 50%; display: inline-block;">
        <div>
            <h2>
                Java Script Test Sample</h2>
            <p>
                <a href="/Home/JsTest" class="button">Java Script Test</a>
            </p>
        </div>
        <div>
            <h2>
                Basic Grid Sample</h2>
            <p>
                <a href="/Home/Basic" class="button">Basic Grid</a>
            </p>
        </div>
        <div>
            <h2>
                Master Details Basic Grid Sample</h2>
            <p>
                <a href="/Home/Details" class="button">Master Details Basic Grid</a>
            </p>
        </div>
        <div>
            <h2>
                dadPak Type Grid Sample</h2>
            <p>
                <a href="/Home/dadIndex" id="" class="button">dadPak Type Grid</a>
            </p>
        </div>
        <div>
            <h2>
                dadPak Type Filter Grid Sample</h2>
            <p>
                <a href="/Home/dadFilter" id="" class="button">dadPak Type Filter Grid</a>
            </p>
        </div>
        <div>
            <h2>
                Modify Grid Script Sample</h2>
            <p>
                <a href="/KendoUI/Index" id="" class="button">Modify Grid Script</a>
            </p>
        </div>
        <div>
            <h2>
                Dynamic Gird Sample</h2>
            <p>
                <a href="/KendoUI/dynamicGird" id="" class="button">Dynamic Gird</a>
            </p>
        </div>
        <div>
            <h2>
                Dynamic Master Details Gird Sample</h2>
            <p>
                <a href="/KendoUI/dynamicMasterDetailsGird" id="" class="button">Dynamic Master Details
                    Gird</a>
            </p>
        </div>
        <div>
            <h2>
                Almost Final Grid Sample</h2>
            <p>
                <a href="/Demo/Final" id="" class="button">Almost Final Grid</a>
            </p>
        </div>
        <div>
            <h2>
                Almost Final Filter Grid Sample</h2>
            <p>
                <a href="/KendoUI/FinalFilter" id="" class="button">Almost Final Filter Grid</a>
            </p>
        </div>
        <div>
            <h2>
                Custom InLine Edit Grid Sample</h2>
            <p>
                <a href="/Demo/InLineEdit" id="" class="button">Custom InLine Edit Grid</a>
            </p>
        </div>
        <div>
            <h2>
                Custom InCell Edit Grid Sample</h2>
            <p>
                <a href="/Demo/InCellEdit" id="" class="button">Custom InCell Edit Grid</a>
            </p>
        </div>
        <div>
            <h2>
                Grid Row Select By Checkbox Sample</h2>
            <p>
                <a href="/Demo/GridRowSelect" id="" class="button">Grid Row Select By Checkbox</a>
            </p>
        </div>
        <div>
            <h2>
                Dialog Sample</h2>
            <p>
                <a href="/Dialog/Index" id="" class="button">Dialog Sample</a>
            </p>
        </div>
    </div>
    <div style="float: right; width: 50%; display: inline-block;">
        <div>
            <h2>
                Custom Pagination Grid Sample</h2>
            <p>
                <a href="/Demo/CustomPagination" id="" class="button">Custom Pagination Grid</a>
            </p>
        </div>
        <div>
            <h2>
                Custom Filtering Grid Sample</h2>
            <p>
                <a href="/Demo/CustomFiltering" id="" class="button">Custom Filtering Grid</a>
            </p>
        </div>
        <div>
            <h2>
                Server Paging Grid Sample</h2>
            <p>
                <a href="/Demo/ServerPaging" id="" class="button">Server Paging Grid</a>
            </p>
        </div>
        <div>
            <h2>
                Server Filtering Sample</h2>
            <p>
                <a href="/Demo/ServerFiltering" id="" class="button">Server Filtering Grid</a>
            </p>
        </div>
        <div>
            <h2>
                Server Sorting Sample</h2>
            <p>
                <a href="/Demo/ServerSorting" id="" class="button">Server Sorting Grid</a>
            </p>
        </div>
        <div>
            <h2>
                Server Paging And Sorting Sample</h2>
            <p>
                <a href="/Demo/ServerPageAndSort" id="" class="button">Server Paging And Sorting Grid</a>
            </p>
        </div>
        <div>
            <h2>
                Server Paging, Sorting, Filtering Sample</h2>
            <p>
                <a href="/Demo/ServerPageSortFilter" id="" class="button">Server Paging, Sorting, Filtering
                    Grid</a>
            </p>
        </div>
        <div>
            <h2>
                Server Passing List of Data Sample</h2>
            <p>
                <a href="/Demo/ServerPassList" id="" class="button">Server Passing List of Data</a>
            </p>
        </div>
        <div>
            <h2>
                Basic Tab Sample</h2>
            <p>
                <a href="/Tab/Index" id="" class="button">Basic Tab</a>
            </p>
        </div>
        <div>
            <h2>
                Report Page Sample</h2>
            <p>
                <a href="/Report/Index" id="" class="button">Report Page</a>
            </p>
        </div>
        <div>
            <h2>
                Footer Total In InCell Edit Mode Sample</h2>
            <p>
                <a href="/Demo/InCellEditTotalFooter" id="" class="button">Footer Total In InCell Edit
                    Mode</a>
            </p>
        </div>
        <div>
            <h2>
                MultiSelect Casadeing Sample</h2>
            <p>
                <a href="/Demo/MultiSelectCasade" id="" class="button">MultiSelect Casadeing</a>
            </p>
        </div>
        <div>
            <h2>
                Number UI Sample</h2>
            <p>
                <a href="/KendoUI/NumberUI" id="" class="button">Number UI</a>
            </p>
        </div>
        <div>
            <h2>
                Sample</h2>
            <p>
                <a href="#" id="" class="button">Click</a>
            </p>
        </div>
    </div>
</div>
<input type="text" id="txt" />
<button id="btn">
    click</button>
<script type="text/javascript">
    $(document).ready(function () {
        //add Common
        $('#btn').live('click', function () {

            //change the title of the dialog
            var val = $("#txt").val();

            var testVal = "Married";

            var val1 = testVal.index(0);
            var val2 = testVal.index(3);

            var val3 = val.index(0);
            var val4 = val.index(3);

            alert(val1);
            alert(val2);
            alert(val3);
            alert(val4);

            return false;

        });
    });
</script>
