@{
    ViewBag.Title = "Custom Filtering";
}
<div id="basicPage">
    <div id="grid">
    </div>
    <br />
    <div id="gridCommon">
    </div>
</div>
<script type="text/javascript">

    function categoryFilter(element) {
        element.kendoDropDownList({
            dataTextField: "Text",
            //dataValueField: "Value",
            dataValueField: "Text",
            dataSource: {
                transport: {
                    read: {
                        url: "/Demo/CategoryForSelectListItemRead"
                    }
                }
            },
            optionLabel: "--Select Value--"
        });
    }

    $(document).ready(function () {

        $("#grid").kendoGrid({
            dataSource: {
                transport: {
                    read: "/Demo/ProductRead"
                },
                schema: {
                    model: {
                        fields: {
                            ProductId: { type: "number" },
                            ProductName: { type: "string" },
                            ProductPrice: { type: "number" },
                            CategoryId: { type: "number" },
                            CategoryName: { type: "string" }
                        }
                    }
                },
                pageSize: 10,
                serverPaging: false,
                serverFiltering: false,
                serverSorting: false
            },
            height: 250,
            filterable: {
                extra: false,
                operators: {
                    string: {
                        startswith: "Starts with",
                        eq: "Is equal to",
                        neq: "Is not equal to"
                    }
                }
            },
            groupable: true,
            sortable: true,
            pageable: {
                refresh: true,
                pageSizes: true
            },
            columns: [{ field: "ProductId", title: "ProductId", width: 50, hidden: true, filterable: false, sortable: false },
                      { field: "ProductName", title: "ProductName", width: 250 },
                      { field: "ProductPrice", title: "ProductPrice", width: 150 },
                      { field: "CategoryId", title: "Category ID", width: 50, hidden: true, filterable: false, sortable: false },
                      { field: "CategoryName", title: "CategoryName", width: 250, filterable: { ui: categoryFilter} }
                      ]
        }); //end of kendo grid

        $("#gridCommon").kendoGrid({
            dataSource: {
                transport: {
                    read: "/Demo/ProductRead"
                },
                schema: {
                    model: {
                        fields: {
                            ProductId: { type: "number" },
                            ProductName: { type: "string" },
                            ProductPrice: { type: "number" },
                            CategoryId: { type: "number" },
                            CategoryName: { type: "string" }
                        }
                    }
                },
                pageSize: 10,
                serverPaging: false,
                serverFiltering: false,
                serverSorting: false
            },
            height: 250,
            filterable: true,
            groupable: true,
            sortable: true,
            pageable: {
                refresh: true,
                pageSizes: true
            },
            columns: [{ field: "ProductId", title: "ProductId", width: 50, hidden: true, filterable: false, sortable: false },
                      { field: "ProductName", title: "ProductName", width: 250 },
                      { field: "ProductPrice", title: "ProductPrice", width: 150 },
                      { field: "CategoryId", title: "Category ID", width: 50, hidden: true, filterable: false, sortable: false },
                      { field: "CategoryName", title: "CategoryName", width: 250 }
                      ]
        }); //end of kendo grid

    });

</script>
