@{
    ViewBag.Title = "Grid Row Select by Checkbox";
}
<div id="indexPage">
    <div id="gridZone">
        <div id="gridCategory">
        </div>
        <br />
        <div id="gridProduct">
        </div>
    </div>
    <div id="gridScriptZone">
        <script type="text/javascript">

            function ProductSelectAll(e) {

                var isChecked = $(e).is(':checked');
                console.log(isChecked);

                if ($(e).attr('checked')) {
                    console.log('if');
                    $('#gridProduct tbody input.chkProductIdSelect').attr('checked', 'checked');

                    var _value = $('#gridProduct .k-grid-content table tbody input.chkProductIdSelect').attr("class");

                    console.log(_value);

                    //Get Product Grid
                    var productGrid = $('#gridProduct').data('kendoGrid');

                    //Get All Data from Category Grid
                    var allData = productGrid.dataSource.data();

                    for (var i = 0; i < allData.length; i++) {

                        var productId = allData[i].ProductId;

                        console.log(i);
                        console.log(productId);

                        //Get Product Details Grid by model id
                        //var currentDataItem = productGrid.dataSource.get(i);
                        var currentDataItem = productGrid.dataSource.get(productId);

                        //set Product Item from Product Details Grid
                        currentDataItem.set("Name", 'true');
                        //allData[i].set("Name", 'true');
                        //IsSelect
                        currentDataItem.set("IsSelect", true);

                        console.log(currentDataItem);

                    }


                } else {
                    console.log('else');
                    $('#gridProduct tbody input.chkProductIdSelect').removeAttr('checked');

                    //                    var _value = $('#gridProduct .k-grid-content table tbody input.chkProductIdSelect').attr("class");

                    //                    console.log(_value);

                    //Get Product Grid
                    var productGrid = $('#gridProduct').data('kendoGrid');

                    //Get All Data from Category Grid
                    var allData = productGrid.dataSource.data();

                    for (var i = 0; i < allData.length; i++) {

                        var productId = allData[i].ProductId;

                        console.log(i);
                        console.log(productId);

                        //Get Product Details Grid by model id
                        //var currentDataItem = productGrid.dataSource.get(i);
                        var currentDataItem = productGrid.dataSource.get(productId);

                        //set Product Item from Product Details Grid
                        currentDataItem.set("Name", 'false');
                        //allData[i].set("Name", 'false');
                        //IsSelect
                        currentDataItem.set("IsSelect", false);

                        console.log(currentDataItem);

                    }

                }

            }

            $(document).ready(function () {

                $("#gridCategory").kendoGrid({
                    dataSource: {
                        transport: {
                            read: "/Demo/BasicCategoryRead"
                        },
                        schema: {
                            model: {
                                fields: {
                                    CategoryId: { type: "number" },
                                    Name: { type: "string" }
                                }
                            }
                        },
                        pageSize: 10,
                        serverPaging: false,
                        serverFiltering: false,
                        serverSorting: false
                    },
                    height: 250,
                    filterable: true,
                    groupable: true,
                    sortable: true,
                    pageable: {
                        refresh: true,
                        pageSizes: true
                    },
                    columns: [{ field: "CategoryId", title: "Select", template: "<input id='chkCategoryId_#= CategoryId #' type='checkbox' name='chkCategoryId_#= CategoryId #' value='#= CategoryId #' class='check_row chkCategoryIdSelect' />", width: 80, filterable: false, sortable: false },
                              { field: "CategoryId", title: "Category ID", hidden: true, filterable: false, sortable: false },
                              { field: "Name", title: "Category Name" }
                             ]
                }); //end of kendo grid

                $("#gridProduct").kendoGrid({
                    dataSource: {
                        transport: {
                            read: "/Demo/ProductSelectRead"
                        },
                        schema: {
                            model: {
                                id: "ProductId",
                                fields: {
                                    ProductId: { type: "number" },
                                    Name: { type: "string" },
                                    Price: { type: "number" },
                                    CategoryId: { type: "number" },
                                    IsSelect: { type: "boolean" }
                                }
                            }
                        },
                        pageSize: 10,
                        serverPaging: false,
                        serverFiltering: false,
                        serverSorting: false
                    },
                    height: 250,
                    filterable: true,
                    groupable: true,
                    sortable: true,
                    pageable: {
                        refresh: true,
                        pageSizes: true
                    },
                    columns: [{ field: "IsSelect", title: "<input id='chkProductAllId' type='checkbox' class='chkProductAll' onchange='ProductSelectAll(this);' />", template: "<input id='chkProductId_#= ProductId #' type='checkbox' name='chkProductId_#= ProductId #' #= IsSelect ? checked='checked' : '' # value='#= ProductId #' class='check_row chkProductIdSelect' />", width: 80, filterable: false, sortable: false },
                              { field: "ProductId", title: "Product Id", hidden: true, filterable: false, sortable: false },
                              { field: "Name", title: "Product Name" },
                              { field: "Price", title: "Product Price" },
                              { field: "CategoryId", title: "Category Id", hidden: true, filterable: false, sortable: false },
                             ]
                }); //end of kendo grid

                $('input.chkCategoryIdSelect').live('click', function (e) {

                    console.log(e);
                    console.log(this);

                    var valueId = $(this).attr("value");
                    //                    var catGrid = $('#gridCategory').data('kendoGrid');
                    //                    var dataSource = catGrid.dataSource;
                    //                    var dataItem = catGrid.dataSource.get(valueId);
                    //                    console.log(dataItem);

                    if ($(this).attr("checked") == "checked") {

                        console.log(valueId);
                        console.log('if');

                    } else {

                        console.log(valueId);
                        console.log('else');

                    }

                });


                //                $('input#chkProductAllId').live('click', function (e) {

                //                    //$("#gridProduct tbody input.chkProductIdSelect").attr("checked", this.checked);

                //                    var isChecked = $(this).is(':checked');

                //                    var gridProductDataSource = $('#gridProduct').data('kendoGrid').dataSource;

                //                    console.log(isChecked);
                //                    console.log(gridProductDataSource);

                //                    //        if (!isChecked) {
                //                    //            //dataItem.set("IsSelected", false);
                //                    //            $('input#chkProductAll').attr("checked", '');
                //                    //            console.log(1);
                //                    //        }
                //                    //        else {
                //                    //            //dataItem.set("IsSelected", true);
                //                    //            $('input#chkProductAll').attr("checked", this.checked);
                //                    //            console.log(2);
                //                    //        }

                //                    if ($(this).attr('checked')) {
                //                        console.log('if');
                //                        $('#gridProduct .k-grid-content table tbody input.chkProductIdSelect').attr('checked', 'checked');

                //                        var _value = $('#gridProduct .k-grid-content table tbody input.chkProductIdSelect').attr("class");

                //                        console.log(_value);

                //                        //Get Product Grid
                //                        var productGrid = $('#gridProduct').data('kendoGrid');

                //                        //Get All Data from Category Grid
                //                        var allData = productGrid.dataSource.data();

                //                        for (var i = 0; i < allData.length; i++) {

                //                            var productId = allData[i].ProductId;

                //                            console.log(i);
                //                            console.log(productId);

                //                            //Get Product Details Grid by model id
                //                            //var currentDataItem = productGrid.dataSource.get(i);
                //                            var currentDataItem = productGrid.dataSource.get(productId);

                //                            //set Product Item from Product Details Grid
                //                            currentDataItem.set("Name", 'true');
                //                            //allData[i].set("Name", 'true');

                //                            console.log(currentDataItem);

                //                        }


                //                    } else {
                //                        console.log('else');
                //                        $('#gridProduct .k-grid-content tbody input.chkProductIdSelect').removeAttr('checked');

                //                        var _value = $('#gridProduct .k-grid-content table tbody input.chkProductIdSelect').attr("class");

                //                        console.log(_value);

                //                        //Get Product Grid
                //                        var productGrid = $('#gridProduct').data('kendoGrid');

                //                        //Get All Data from Category Grid
                //                        var allData = productGrid.dataSource.data();

                //                        for (var i = 0; i < allData.length; i++) {

                //                            var productId = allData[i].ProductId;

                //                            console.log(i);
                //                            console.log(productId);

                //                            //Get Product Details Grid by model id
                //                            //var currentDataItem = productGrid.dataSource.get(i);
                //                            var currentDataItem = productGrid.dataSource.get(productId);

                //                            //set Product Item from Product Details Grid
                //                            currentDataItem.set("Name", 'false');
                //                            //allData[i].set("Name", 'true');

                //                            console.log(currentDataItem);

                //                        }

                //                    }


                //                });



            });

        </script>
    </div>
</div>
