@{
    ViewBag.Title = "Server Paging And Sorting";
}
<div id="indexPage">
    <h2>
        Kendo UI Grid Server Paging And Sorting
    </h2>
    <div id="gridWithParam">
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {

        var filterOption = {
            extra: false,
            operators: {
                string: {
                    eq: "Is Equal To",
                    startswith: "Starts With",
                    contains: "Contains",
                    endswith: "Ends With"
                }
            }
        };

        $("#gridWithParam").kendoGrid({
            dataSource: {
                transport: {
                    read: "/Demo/CategoryReadWithParam"
                },
                schema: {
                    data: function (data) {
                        return data.Data;
                    },
                    model: {
                        fields: {
                            CategoryId: { type: "number" },
                            Name: { type: "string", filterable: filterOption }
                        }
                    },
                    total: function (data) {
                        return data.Total;
                    }
                },
                pageSize: 5,
                serverPaging: true,
                serverFiltering: false,
                serverSorting: true
            },
            height: 250,
            filterable: true,
            groupable: true,
            sortable: true,
            pageable: {
                input: true,
                numeric: true,
                info: true,
                previousNext: true,
                refresh: true,
                pageSizes: true
            },
            columns: [{
                field: "CategoryId",
                title: "Category ID",
                width: 50,
                filterable: false
            },
                             {
                                 field: "Name",
                                 title: "Category Name",
                                 width: 250
                             }]
        }); //end of kendo grid


    });

</script>
